.checkout {
  width: 1000px;
  margin: 30px auto;

  &__header {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto;
    font-size: 20px;
    font-weight: 600;
    column-gap: 10px;
  }

  &__header-item {
    justify-self: center;
  }

  &__footer {
    margin-top: 35px;
    display: flex;
    justify-content: end;
  }

  &__total {
    font-size: 35px;
  }
}
