.navigation {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &__logo-container {
    height: 100%;
    width: 70px;
    //padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__link {
    &:link,
    &:visited,
    &--btn {
      border: none;
      display: inline-block;
      background-color: transparent;
      font-size: inherit;
      font-family: inherit;

      text-decoration: none;
      color: #333;
      padding: 10px 15px;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.2s;
    }

    &:hover,
    &:active,
    &--btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 20px 40px rgba(#000, 0.2);
      background-color: #333;
      color: #fff;
    }
  }
}
